:root {
  --head: "Do Hyeon", sans-serif;
  --grey: #5b5b5b;
  --bg1: #6ea8ff;
  --text: black;
  background: var(--bg1);
  background-image: linear-gradient(to right, var(--bg1));
  color: var(--text);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#particles-js {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  pointer-events: auto;
}

.title {
  font-family: var(--head);
}

.subtitle {
  color: var(--grey);
}

a {
  color: var(--text);
}

.show {
  transition: opacity 400ms;
}

.hide {
  opacity: 0;
}
