:root {
  --head: "Josefin Sans", sans-serif;
  --grey: #5b5b5b;
  --bg1: #6ea8ff;
  --text: black;
  background: var(--bg1);
  background-image: linear-gradient(to right, var(--bg1));
  color: var(--text);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.logo {
  font-family: var(--head);
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.subtitle {
  color: var(--grey);
}

a {
  color: var(--text);
}

.show {
  transition: opacity 400ms;
}

.hide {
  opacity: 0;
}
